.navbar {
    .navbar {
        padding: 5px 8px;
        margin: 0 5px;
        font-size: .9rem;
        font-weight: 500;
        color: #000;
        transition: .3s linear;
    
    }  
}
.slogan {
    font-size: 14px;        
    color: #777;           
    margin-top: 5px;        
    text-align: center;  
    font-style: italic;   
}